<form method="POST" action="http://localhost/ProjetoMvc/calculadora/calcular">
    <H2>Calculadora</H2>
    <label for="calculadora"></label>
    <input type="number" name="calculadora" id="calculadora" placeholder="Digite um numero" min="1" max="50">
    <label for="multi">Multiplicação</label>
    <input type="number" name="multi" id="multi" placeholder="Digite um para multiplicar" min="1" max="50">

    <label for="divi">Divisão</label>
    <input type="number" name="divi" id="divi" placeholder="Digite um para divisão" min="1" max="50">

    <label for="soma">Soma</label>
    <input type="number" name="soma" id="soma" placeholder="Digite um para somar" min="1" max="50">

    <label for="sub">Subitração</label>
    <input type="number" name="sub" id="sub" placeholder="Digite um para subitrair" min="1" max="50">
    
    <button type="submit" id="butao" onclick="">Calcular</button>
</form>

<script>
    
</script>